# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/

# Résultats volumineux
03_results/*.csv
03_results/**/*.csv
*.png
!03_results/figures/

# IDE
.vscode/
.idea/
*.swp

# Système
.DS_Store
Thumbs.db